
<section>
<mat-drawer-container class="mat-drawer-container" >
    <div >
    <button class="button"  routerLink="/home/cadastro" mat-raised-button color="primary">Cadastro</button>
  </div>
  <div>
    <button class="button" routerLink="/home/inserir" mat-raised-button color="primary">Inserir Senha</button>
  </div>
  <div>
    <button  class="button" routerLink="/home/fila" mat-raised-button color="primary">Fila de Senha</button>
    
  </div>
  <div>
    <button disabled class="button" routerLink="/home" mat-raised-button color="primary">Relatórios </button>
  </div>
  <div>
    <button disabled class="button" routerLink="/home" mat-raised-button color="primary"><i class="bi-alarm"></i>Configurações</button>
  </div>
</mat-drawer-container>

</section>