#app-layout-body {
    height: auto;
    width: 500px;
    margin: 0 auto;
    padding: 25px;
    margin-top: 100px;
    position: relative;
   
    border-radius: 10px;
    
    text-align: center;
  }
  #div-register {
    
    padding: 10px;
    
    color: black;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
    background-color: aliceblue;
    color: #0d0d0e;
    margin-top: 20px;
    border-radius: 5px;
    height: 60px;
    border: 2px solid #aaa;
  }

  .mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }
  .step{
      color: black;
  }
  .button{
      color: black;
  }
  .footer{
    margin-left: 150px;
  }
  .input{
     justify-content: center;
     align-content: center;
  }



  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }