.content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    all: unset;
    border-radius: 4px;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card.card-small {
    height: 16px;
    width: 68px;
   
  }

  .card.highlight-card {
    background-color: #22A0D1;
    color: white;
    font-weight: 600;
    border: none;
    width: 430px;
    
    position: relative;
    
  }

  .card.card.highlight-card span {
    margin-left: 200px;
  
  }

.mat-stepper{
 width: 454px;
 margin-top: 20px;

}
.mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: transparent !important;
  

  
}
.img{
  border-radius: 50px;
 
  background-color: #fff;
}



  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
  #app-layout-body {
    display: flex;
    height: auto;
    width: 500px;
    margin: 0 auto;
    padding: 25px;
    margin-top: 100px;
    position: relative;
    
  }


  


  
  
 
  
  


  
 
 
