  
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />





<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
  <div id="app-layout-body">
  
     
      <form class="example-form" >
      

        <div class="content" role="main" >

          <!-- Highlight Card -->
          <div class="card highlight-card card-small">
        
            
            <img class="img"
            width="100"
            alt="Angular Logo"
            src="https://a-static.mlcdn.com.br/1500x1500/adesivo-de-parede-28x28cm-cachorro-pata-coracao-pets-ref-ade0189-nebula-decor/nebuladecor/b6f11442876e11eba2e94201ac1850e0/eb8582921415f6dbecc8ab77d1cf4375.jpg"
          /> <span class="span"> Pet Shop</span>
        
            
        
          </div>
        
          <form>
            <mat-stepper class="mat-stepper" orientation="vertical">
        
                <mat-step [stepControl]="firstFormGroup" >
                    <form [formGroup]="firstFormGroup">
                        <ng-template matStepperIcon="phone" matStepLabel>Informe seu cpf</ng-template>
                       
                        <mat-form-field appearance="fill">
                          <mat-label>Cpf</mat-label>
                          <input class="input" matInput placeholder="informe seu cpf" formControlName="firstCtrl" required>
                        </mat-form-field>
                        <div>
                          <button class="button" mat-button matStepperNext>continuar</button>
                        </div>
                      </form>
                      <ng-template >
                        
                      </ng-template>
                      <ng-template >
                        
                      </ng-template>
                </mat-step>
        
           
                <mat-step>
                  <ng-template matStepLabel>Escolha o serviço</ng-template>
                  <ng-template matStepContent>
                    
                    <button mat-button matStepperPrevious>voltar</button>
                    <button mat-button matStepperNext>Continuar</button>
                  </ng-template>
                </mat-step>
        
                <mat-step>

                  <ng-template matStepLabel>Confirmação</ng-template>
                  
                  <button mat-button matStepperPrevious>Confirmar</button>
              
                </mat-step> 
        
              </mat-stepper>
             
          </form>
        
        </div>

      </form>
  </div >

</div>
