
.example-card-sc {
  
margin-top: 0px;
width: 60%;
min-width: 100px;
margin-left: 0px;
height: 1000px;
display: inline-block;
vertical-align: top;
background-color: #22A0D1;

}
.example-card-scc {
  
margin-top: 0px;

width: 40%;
min-width: 100px;
height: 1000px;
display: inline-block;
vertical-align: top;
background-color: #dddedf;

}

.card-title{
  text-align: center;
  justify-items: center;
}