.carousel-inner > .carousel-item > img {
  
  min-width: 100%;
height: 300px; 
}
.example-card-sc {
  
  margin-top: 20px;
  width: 50%;
min-width: 200px;
height: 300px;
display: inline-block;
vertical-align: top;
background-color: #22A0D1;

}
.example-card-scu {
  
margin-top: 20px;
width: 50%;
min-width: 200px;
height: 300px;
display: inline-block;
vertical-align: top;
background-color: rgb(224, 228, 226);


}
.card-title{
  padding-left: 200px;
}