
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
  <div id="app-layout-body">
    <div id="div-register">
     
      <form class="example-form">
        <span class="form-logo">
          <i class="zmdi zmdi-landscape"></i>
        </span>

        <mat-form-field  class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input   type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
          placeholder="Ex. pat@example.com" >
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
           E-mail inválido
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            E-mail  <strong>inválido</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Informe sua senha</mat-label>
          <input  matInput [type]="hide ? 'password' : 'text'" >
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill" >
          <mat-label>Unidade</mat-label>
          <mat-select>
            <mat-option value="bv">Boa Viagem</mat-option>
            <mat-option value="pi">Piedade</mat-option>
            <mat-option value="se">Setúbal</mat-option>
            <mat-option value="cf">Casa Forte</mat-option>
    
          </mat-select>
        </mat-form-field>

        <div class="example-button-row">
        <button routerLink="/home" mat-raised-button color="primary">Acessar</button>
      </div>
    
      </form>
      
    </div>
    
  </div>
  <div class="container">
    <div id="suporte" >
      <div >
  <form >
    <div>
    <span>Precisa de suporte?</span>
  </div>
  <div>
   <a  href="https://api.whatsapp.com/send?1=ptBR&phone=5581997568985" target="_blank">Clique aqui</a> 
  </div>
    
  </form>
      </div></div></div>
</div>