#app-layout-body {
  height: auto;
  width: 500px;
  margin: 0 auto;
  padding: 25px;
  margin-top: 100px;
  position: relative;
  border: 2px solid #F4F4F4;
  border-radius: 10px;
  background-color: #F4F4F4;
  text-align: center;
}
#div-register {
  
  padding: 10px;
  background-color: #F4F4F4;
  color: #FFFFFF;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  background-color: #FFFFFF;
  color: #0d0d0e;
  margin-top: 20px;
  border-radius: 5px;
  height: 60px;
  border: 2px solid #FFFFFF;
}
.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}



.example-button-row button,
.example-button-row a {
  margin-right: 8px;
  margin-top: 50px;
  width: 130px;
  margin-left: 295px;
  background-color: #FFFFFF;
  color: black;
  border: 2px solid #aaa;

}


#suporte {
  height: auto;
  width: 500px;
  margin: 0 auto;
  padding: 25px;
  margin-top: -100px;
  position: relative;
  
  color: black;
  text-align: start;
}

.form-logo {
  font-size: 60px;
  color: #333333;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  background-color: #FFFFFF;
  background-image:url('/assets/img/teste.jpg');
  margin: 0 auto;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  min-width: 40px;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}


.inputWithIcon input[type="email"] {
  padding-left: 40px;
}


.inputWithIcon input[type="password"] {
  padding-left: 40px;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon i {
  position: absolute;
  left: 0;
  top: 8px;
  padding: 9px 8px;
  color: #aaa;
  transition: 0.3s;
}






  
