
     <mat-card class="card">
        <mat-card-content>
            <div class="input-group col-lg-12 col-md-12 col-sm-12">
               
                <input type="text" class="form-control" placeholder="CPF:" aria-label="Username" aria-describedby="basic-addon1">
            </div>  
            <div class="input-group col-lg-12 col-md-12 col-sm-12">
               
                <input type="text" class="form-control" placeholder="Nome:" aria-label="Username" aria-describedby="basic-addon1">
            </div>  
            <div class="input-group col-lg-12 col-md-12 col-sm-12">
               
                <input type="text" class="form-control" placeholder="Nome Pet:" aria-label="Username" aria-describedby="basic-addon1">
            </div>  
            <div class="input-group col-lg-12 col-md-12 col-sm-12">
                
                <input type="text" class="form-control" placeholder="Sismoura:" aria-label="Username" aria-describedby="basic-addon1">
            </div>  
            <div class="input-group col-lg-12 col-md-12 col-sm-12">
              
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>   
          
        </mat-card-content>

    </mat-card>
    <div>
        <app-footer></app-footer>
      </div>


