<footer>
        <div>
        <span><i>Precisa de suporte?</i></span>
      </div>
      <div  >
       <a  class="span" href="https://api.whatsapp.com/send?1=ptBR&phone=5581997568985" target="_blank">Clique aqui</a> 
      </div>        
</footer>

<footer class="footer-a">
  <div>
  <span><i>Seja bem vindo, ao sistema. </i></span>
</div>
<div>
  <span class="span"><i>Simples e fácil de usar. </i></span>
</div>
      
<div class="container text-center">
  <small> Copyright © 2020 Suporte06 - Todos Direitos reservados  </small>
</div>
<div>

</div>


 
    <div class="container text-center" style="background-color: rgba(0, 0, 0, 0.2);">
      <small> Copyright © 2020 Suporte06 - Todos Direitos reservados  </small>
    </div>
    <mat-toolbar class="toolbar">
      <img  
      width="100"
      
      src="../assets/img/logo.png"
    />
     
      
      <span class="example-spacer"></span>
    
      <button  mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon ><b>exit_to_app</b></mat-icon>
      </button>
    
    </mat-toolbar>

</footer>
