/* You can add global styles to this file, and also import other style files */

html, body {
   height: 100%; 
   padding: 0;
   margin: 0;
   
  
  
  }
body { font-family: Lexend, "Helvetica Neue", sans-serif; }

.button{
    margin-top: 10px;
    margin-left: 5px;
    width: 140px;
    padding: 5px;
    color: black;
    background-color: #fff;
    
   
  }

  .span{
    margin-left: 10px;
  }
  .card {
    background-color: white; 
    width: 85%;
    height: 100%;
    margin-bottom: 0;
    padding: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: block;
    border-radius: 0px;
    transition: all 0.2 linear;

}
